<style>
body{
	background-color: #999;
	font-family: arial;
}
h1,h2,li{
	color: green;
}
p{
	background-color: #666;
	color: white;
	padding: 10px;
}
.secondary{
	background-color: none;
	color: none;
}
p{
	background-color: blue;
	color: white;
	padding: 10px;
}
</style>